.basic-page-style {
  padding: 20px;
}

.profile-picture {
  width: 180px;
  height: auto;
}

.about-name {
  font-size: 170%;
}
.about-institute {
  font-size: 1.4rem;
  font-weight: 500;
}
.about-work {
  font-size: 1.4rem;
  font-weight: 500;
}

.codeforces-icon-wrapper {
  color: white;
  /* set background color to <a> tag default color */
  /*anchor tag default color" */
  background-color: #0d6efd;
  border-radius: 4px;
  height: 27px;
  width: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3px;
  transition: color 0.5s ease-in-out;
  background-color: 0.1s ease-in-out;
}
.codeforces-icon-wrapper:hover {
  background-color: #0b67ca;
}

.codeforces-icon-wrapper-dark {
  color: #121212;
}

.codeforces-icon-wrapper-dark1 {
  color: #121212;
  transition: none;
}

@media screen and (max-width: 768px) {
  .profile-picture {
    width: 100px;
  }
  .about-name {
    font-size: 140%;
  }
  .about-institute {
    font-size: 120%;
  }
  .about-work {
    font-size: 120%;
  }
}

@media screen and (max-width: 576px) {
  .about-name {
    font-size: 130%;
  }
  .about-institute {
    font-size: 105%;
  }
  .about-work {
    font-size: 105%;
  }
}
