.basic-page-style {
  padding: 20px;
}

.profile-picture {
  width: 180px;
  height: auto;
}

.about-name {
  font-size: 170%;
  font-weight: 700;
}
.about-institute {
  font-size: 1.4rem;
  font-weight: 500;
}
.about-work {
  font-size: 1.4rem;
  font-weight: 500;
}

.home-link {
}

.custom-a {
  text-decoration: none;
}
.custom-a:hover {
  text-decoration: underline;
}
.paragraph-decoration {
  text-align: justify;
  font-size: 120%;
  line-height: 1.5;
}
.paragraph-decoration div {
  /* set hyphen auto */
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
}

.common-container {
  margin: 0px auto 0 auto;
  max-width: 900px;
  padding: 20px 20px 50px 20px;
  /* border: 2px solid red; */
}
.home-link {
  color: rgba(255, 255, 255, 1);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-link:hover {
  color: rgba(255, 255, 255, 1);
}
.home-github,
.home-linkedin,
.home-facebook,
.home-codeforces {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0;
  transition: background-color 0.3s ease-in-out;
}

.home-github:hover,
.home-linkedin:hover,
.home-facebook:hover,
.home-codeforces:hover {
  /* hover effect dark background*/
  background-color: rgba(0, 0, 0, 1);
}

.home-facebook {
  background-color: #3b5998;
}

.home-github {
  background-color: #333;
}

.home-linkedin {
  background-color: #0077b5;
}

.home-codeforces {
  background-color: #1f8dd6;
}

.vertically-centered {
  margin-top: -70px;
  height: 100%;
  padding-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  margin-bottom: 0;
}

.button-link {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  cursor: pointer;
  /* anchor link color */
  color: #0d6efd;
  text-decoration: underline;
  display: inline-block;
  line-height: 100%;
  font-weight: 600;
}
.button-link:hover {
  background-color: rgb(167, 58, 122);
  color: white;
}

.custom-embed {
  background-color: black;
}

@media screen and (max-width: 768px) {
  .profile-picture {
    width: 100px;
  }
  .about-name {
    font-size: 140%;
  }
  .about-institute {
    font-size: 120%;
  }
  .about-work {
    font-size: 120%;
  }
}

@media screen and (max-width: 576px) {
  .about-name {
    font-size: 130%;
  }
  .about-institute {
    font-size: 105%;
  }
  .about-work {
    font-size: 105%;
  }
  .paragraph-decoration {
    font-size: 100%;
  }
}
