.basic-page-style {
  padding: 20px;
}

.profile-picture {
  width: 180px;
  height: 180px;
  object-fit: cover;
}

.about-name {
  font-size: 190%;
  font-weight: 700;
  color: rgb(31, 168, 226);
  -webkit-text-stroke: 1px rgb(31, 168, 226);
}

.haque {
  color: transparent;
  -webkit-text-stroke: 1px rgb(31, 168, 226);
}
.about-institute {
  font-size: 1.4rem;
  font-weight: 500;
}
.about-work {
  font-size: 1.4rem;
  font-weight: 500;
  opacity: 80%;
}

.home-link {
}

.custom-a {
  text-decoration: none;
}
.custom-a:hover {
  text-decoration: underline;
}
.paragraph-decoration {
  text-align: justify;
  font-size: 120%;
  line-height: 1.5;
}
.paragraph-decoration div {
  /* set hyphen auto */
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  margin-bottom: 10px;
}

.common-container {
  margin: 0px auto 0 auto;
  max-width: 1000px;
  padding: 20px 20px 50px 20px;
  /* border: 2px solid red; */
  z-index: 1;
}
.home-link {
  color: rgba(255, 255, 255, 1);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-link:hover {
  color: rgba(255, 255, 255, 1);
}
.home-github,
.home-linkedin,
.home-facebook,
.home-codeforces {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0;
  transition: background-color 0.3s ease-in-out;
}

.home-github:hover,
.home-linkedin:hover,
.home-facebook:hover,
.home-codeforces:hover {
  /* hover effect dark background*/
  background-color: rgba(0, 0, 0, 1);
  background-color: var(--navbar-active-hover);
}

.home-facebook {
  background-color: #3b5998;
}

.home-github {
  background-color: #333;
}

.home-linkedin {
  background-color: #0077b5;
}

.home-codeforces {
  background-color: #1f8dd6;
}

.vertically-centered {
  margin-top: -70px;
  height: 100%;
  padding-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  margin-bottom: 0;
}

.button-link {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  cursor: pointer;
  /* anchor link color */
  color: #0d6efd;
  text-decoration: underline;
  display: inline;
  line-height: 100%;
  font-weight: 500;
}
.button-link:hover {
  background-color: rgb(167, 58, 122);
  color: white;
}

.custom-embed {
  background-color: black;
}

.custom-a .link-icon {
  visibility: hidden;
}

.custom-a:hover .link-icon {
  visibility: visible;
}

.full-stack-top {
  background-color: rgb(72, 137, 230);
  background-image: linear-gradient(
    to bottom,
    rgb(72, 137, 230),
    rgb(16, 136, 187)
  );
  height: 100px;
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.full-stack-top1 {
  background-color: rgb(230, 72, 177);
  background-image: linear-gradient(
    to bottom,
    rgb(200, 22, 75),
    rgb(228, 63, 115)
  );
}
.full-stack-top2 {
  background-color: rgb(72, 230, 96);
  background-image: linear-gradient(
    to bottom,
    rgb(30, 144, 17),
    rgb(31, 174, 26)
  );
}

.full-stack-top3 {
  background-color: rgb(202, 29, 29);
  background-image: linear-gradient(
    to bottom,
    rgb(196, 30, 18),
    rgb(238, 56, 40)
  );
}

.home-card-image {
  transform: translateY(-50%);
}

.home-card {
  border-radius: 8px;
  box-shadow: 2px 4px 8px 0 rgba(16, 136, 187, 0.5);
  background-color: transparent;
  border: 0;
  outline: 0;
  padding: 0;
}

.home-card1 {
  box-shadow: 2px 4px 8px 0 rgba(152, 62, 110, 0.5);
}

.home-card2 {
  box-shadow: 2px 4px 8px 0 rgba(77, 158, 70, 0.5);
}

.home-card3 {
  box-shadow: 2px 4px 8px 0 rgba(164, 52, 52, 0.5);
}

.home-card:hover {
  box-shadow: 4px 8px 10px 0 rgba(16, 136, 187, 0.5);
}
.home-card1:hover {
  box-shadow: 4px 8px 10px 0 rgba(152, 62, 110, 0.5);
}

.home-card2:hover {
  box-shadow: 4px 8px 10px 0 rgba(77, 158, 70, 0.5);
}

.home-card3:hover {
  box-shadow: 4px 8px 10px 0 rgba(164, 52, 52, 0.5);
}

.home-card-body {
  padding: 15px;
  margin-top: -25px;
}

.home-card-title {
  margin-bottom: 20px;
}

.card-btn0 {
  background-color: rgb(16, 136, 187);
  border-color: rgb(16, 136, 187);
  outline-color: rgb(16, 136, 187);
}

.card-btn0:hover,
.card-btn0:focus,
.card-btn0:active {
  background-color: rgb(72, 137, 230);
  border-color: rgb(72, 137, 230);
  outline-color: rgb(72, 137, 230);
}


.card-btn1 {
  background-color: rgb(228, 63, 115);
  border-color: rgb(228, 63, 115);
  outline-color: rgb(228, 63, 115);
}

.card-btn1:hover,
.card-btn1:focus,
.card-btn1:active,
.card-btn1:visited {
  background-color: var(--navbar-active-hover);
  border-color: var(--navbar-active-hover);
  outline-color: var(--navbar-active-hover);
}

.card-btn2 {
  background-color: rgb(31, 174, 26);
  border-color: rgb(31, 174, 26);
  outline-color: rgb(31, 174, 26);
}
.card-btn2:hover,
.card-btn2:focus,
.card-btn2:active {
  background-color: rgb(30, 144, 17);
  border-color: rgb(30, 144, 17);
  outline-color: rgb(30, 144, 17);
}

.card-btn3 {
  background-color: rgb(238, 56, 40);
  border-color: rgb(238, 56, 40);
  outline-color: rgb(238, 56, 40);
}

.card-btn3:hover,
.card-btn3:focus,
.card-btn3:active,
.card-btn3:visited {
  background-color: rgb(196, 30, 18);
  border-color: rgb(196, 30, 18);
  outline-color: rgb(196, 30, 18);
}

.home-card-footer {
  background-color: rgb(29, 28, 28);
  outline-color: white;
  border-color: rgb(66, 62, 62);
}

.download-pdf {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: background-color 0.3s ease-in-out, outline-color 0.3s ease-in-out,
    border-color 0.3s ease-in-out;

  background-color: rgb(72, 138, 218);
  outline-color: rgb(72, 138, 218);
  border-color: rgb(72, 138, 218);
  color: white;
}

.download-pdf:hover,
.download-pdf:focus,
.download-pdf:active {
  background-color: rgb(17, 90, 178);
  border-color: rgb(17, 90, 178);
  outline-color: rgb(17, 90, 178);
  color: white;
}

.download-pdf-dark {
  /* background-color: rgb(207, 56, 122);
  border-color: rgb(207, 56, 122);
  outline-color: rgb(207, 56, 122); */
}

.download-pdf-dark:hover,
.download-pdf-dark:focus,
.download-pdf-dark:active {
  /* background-color: var(--navbar-active-hover2);
  outline-color: var(--navbar-active-hover2);
  border-color: var(--navbar-active-hover2);
  color: white; */
}

.opacity-70 {
  opacity: 60%;
}
.love-programming {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: rgb(16, 136, 187);
  color: var(--navbar-active-hover);
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-work {
  color: var(--navbar-active-hover);
  opacity: 100%;
  font-weight: 700;
}

.dark-mode-menu {
  background-color: var(--dark-mode-menu);
}

@media screen and (max-width: 768px) {
  .about-name {
    font-size: 160%;
  }
  .about-institute {
    font-size: 120%;
  }
  .about-work {
    font-size: 120%;
  }
}

@media screen and (max-width: 576px) {
  .love-programming {
    font-size: 0.9rem;
  }
  .profile-picture {
    width: 130px;
    height: 130px;
  }
  .about-name {
    font-size: 150%;
  }
  .about-institute {
    font-size: 105%;
  }
  .about-work {
    font-size: 110%;
  }

  .paragraph-decoration {
    font-size: 110%;
  }
}
