.home-img-wrapper {
  position: relative;
  width: 180px;
  height: 180px;
  background-color: rgb(28, 27, 27);
  border-radius: 50%;

  left: 50%;
  top: 5%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.home-img-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgb(210, 16, 16);
  height: 100px;
  width: 400px;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(
    transparent,
    rgb(187, 16, 113),
    rgb(187, 16, 113),
    rgb(187, 16, 113),
    transparent
  );
  animation: animate 4s linear infinite;
}

.profile-picture {
  z-index: 2;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}


@media screen and (max-width: 576px) {
  .home-img-wrapper {
    width: 130px;
    height: 130px;
  }
}