.container-background {
  background-color: rgb(255, 255, 255);
  height: 100vh;
  width: 100%;
  color: black;

  z-index: -2;

  padding: 0;
  margin: 0;
}

.outer-container {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: auto;
  position: relative;
}

.scroll-top {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 40px;
  font-size: 15px;
  border: none;
  outline: none;
  background-color: #0d6efd;
  color: white;
  cursor: default;
  padding: 5px;
  border-radius: 4px;
  font-weight: 400;
  transition: background-color 0.5s ease-in-out, opacity 0.5s linear;
  opacity: 0;
  z-index: 0;
}

.scroll-top:hover {
  background-color: rgb(52, 52, 181);
}

@media screen and (max-width: 576px) {
  .scroll-top {
    font-size: 10px;
    bottom: 20px;
    right: 20px;
    padding: 0px;
  }
}
