.container-background {
  background-color: rgb(255, 255, 255);
  height: 100vh;
  width: 100%;
  color: black;

  z-index: -2;

  padding: 0;
  margin: 0;
}

.outer-container {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: auto;
  position: relative;
}

.scroll-top {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 40px;
  font-size: 15px;
  border: none;
  outline: none;
  background-color: var(--navbar-active-hover);
  color: black;
  cursor: default;
  padding: 0px;
  border-radius: 4px;
  font-weight: 400;
  transition: background-color 0.3s ease-in-out, opacity 0.3s linear,
    color 0.3s ease-in-out;
  opacity: 0;
  z-index: 0;
  border-radius: 50%;
}

.scroll-top:hover {
  background-color: rgb(241, 91, 156);
}

.to-top {
  color: black;
}
.to-top:hover {
  /* color: var(--navbar-active-hover1); */
}

@media screen and (max-width: 576px) {
  .scroll-top {
    font-size: 10px;
    bottom: 20px;
    right: 20px;
  }
}
