.custom-navbar {
  /* background-color: rgba(71, 41, 41, 0.1); */
  /* add box shadow below navbar */
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  color: rgb(0, 0, 0);
  padding: 6px 10px 6px 10px;
  transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out,
    all 0.5s ease-in-out;
}

.custom-navbar-navbar {
  padding: 0;
  margin: 0;
}

.custom-nav-link1,
.custom-nav-link,
.custom-navbar-brand,
.custom-navbar-toggle,
.custom-navbar-collapse {
  color: rgb(0, 0, 0);
}

.custom-nav-link,
.custom-nav-link1 {
  margin: 0px 10px 0px 10px;
  font-weight: 500;
  transition: color 0.5s ease-in-out, all 0.5s ease-in-out;
}

.custom-navbar-brand {
  font-weight: 500;
  transition: color 0.5s ease-in-out, all 0.5s ease-in-out;
  margin-left: 10px;
  min-height: 40px;
}

.nav-offcanvas-dark-header {
  color: rgba(255, 255, 255, 0.9);
}

.custom-nav-link:hover {
  color: blue;
}

.custom-nav-link:active,
.custom-nav-link:focus,
.custom-nav-link1:active,
.custom-nav-link1:focus,
.custom-nav-link1:hover {
  color: blue;
}

.custom-navbar-brand:hover {
  color: blue;
}

.custom-navbar-brand:active,
.custom-navbar-brand:focus {
  color: blue;
}

.custom-navbar-toggle {
  background-color: transparent;
  color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-shadow: none;
}

.custom-navbar-toggle:hover,
.custom-navbar-toggle:focus,
.custom-navbar-toggle:active {
  cursor: pointer;
  border: none;
  outline: none;
  box-shadow: none;
}

.custom-navbar-toggle-icon {
  margin: 0 10px 0 0;
  padding: 0;
  color: black;
  transition: color 0.3s ease-in-out;
}
.custom-navbar-toggle-icon:hover {
  color: rgb(27, 4, 203);
}

.custom-nav-link-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-dark-mode {
  margin-right: 10px;
  transition: color 0.3s ease-in-out;
}
.custom-dark-mode:hover {
  cursor: pointer;
  color: blue;
}

.dark-mode-container {
  background-color: #121212;
  /* background-color: #141414; */
  color: rgba(255, 255, 255, 0.87);
}
.dark-mode-navbar {
  /* box shadwo below navbar */
  box-shadow: none;
  background-color: var(--dark-mode-navbar-bg);
  color: rgba(255, 255, 255, 0.9);
}
.color-white {
  color: rgba(255, 255, 255, 0.9);
}
.color-black {
  color: black;
}

.current-page {
  color: blue;
}

.nav-offcanvas {
  padding: 0;
  margin: -5px 5px 0px 0px;
  background-color: white;
  color: rgb(0, 0, 0);
}

.nav-offcanvas-header {
  color: black;
}

.nav-offcanvas-dark {
  background-color: #181818;
  color: rgba(255, 255, 255, 0.87);
}

@media screen and (max-width: 768px) {
  .custom-nav-link:hover,
  .custom-nav-link1:hover {
    background-color: rgba(210, 210, 210, 0.705);
  }

  .custom-navbar-collapse {
    margin-bottom: 10px;
    display: none;
  }
  .custom-dark-mode {
    margin-right: 20px;
  }
}
