.custom-navbar {
  background-color: rgba(0, 0, 0, 0.1);
  color: rgb(0, 0, 0);
  padding: 6px 10px 6px 10px;
}

.custom-navbar-navbar {
  padding: 0;
  margin: 0;
}

.custom-nav {
  color: rgb(0, 0, 0);
}
.custom-nav-link,
.custom-navbar-brand,
.custom-navbar-toggle,
.custom-navbar-collapse {
  color: rgb(0, 0, 0);
}

.custom-nav-link {
  margin: 0px 10px 0px 10px;
  font-weight: 500;
  transition: color 0.5s ease-in-out;
}

.custom-navbar-brand {
  font-weight: 500;
  transition: color 0.5s ease-in-out;
  margin-left: 10px;
}

.custom-nav-link:hover {
  color: blue;
}

.custom-nav-link:active,
.custom-nav-link:focus {
  color: blue;
}

.custom-navbar-brand:hover {
  color: blue;
}

.custom-navbar-brand:active,
.custom-navbar-brand:focus {
  color: blue;
}

.custom-navbar-toggle {
  background-color: transparent;
  color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
}

.custom-navbar-toggle:hover,
.custom-navbar-toggle:focus,
.custom-navbar-toggle:active {
  cursor: pointer;
  border: none;
  outline: none;
  /* outline: 2px solid black;
  outline-offset: 2px; */
  /* add a box shadow around the element*/
  box-shadow: none;
}

.custom-navbar-toggle-icon {
  margin: 0 10px 0 0;
  padding: 0;
  color: black;
  transition: color 0.3s ease-in-out;
}
.custom-navbar-toggle-icon:hover {
  color: rgb(27, 4, 203);
}

@media screen and (max-width: 768px) {
  .custom-nav-link:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
  .custom-navbar {
    padding-left: 10px;
  }
}

/* .nav-items-dark-mode {
  display: block;
   margin-left: auto; 
}
#nav-container {
  width: 100%;
  height: 50px;
  padding: 0;
  display: flex;
  align-items: center !important;
  justify-content: center;
  flex-direction: row;
  gap: 25px;
  z-index: 2;
  position: relative;
  background-color: #f5f5f5;
  color: black;
}

.nav-items {
  text-transform: capitalize;
  font-weight: 550;
  font-size: 100%;
  font-family: "Courier New", Courier, monospace;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-family: Arial, Helvetica, sans-serif;
  transition: color 0.5s ease-in-out;
  justify-self: center;
}
.nav-items:hover {
  cursor: pointer;
  color: var(--nav-link-color);
  text-decoration: underline;
}

#nav-icon {
  display: none;
}

#nav-fa-bars {
  width: 25px;
  height: 25px;
}
#nav-fa-bars:hover {
  cursor: pointer;
  color: rgb(65, 65, 202);
}

@media screen and (max-width: 768px) {
  .nav-items-dark-mode {
    display: none;
  }
  #nav-container-outer {
    position: relative;
  }
  #nav-container {
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    border-bottom: 1.5px solid rgb(205, 205, 205);
    border: 1.5px solid rgb(205, 205, 205);
    padding: 10px;
    position: absolute;
    z-index: 5;
    background-color: #f5f5f5;
    margin: 0px 0px 0px 0px;
    top: 0;
    left: 0;
    color: black;
  }
  .nav-items {
    display: block;
    font-size: 100%;
    font-weight: normal;
  }
  #nav-icon {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: flex-end;
    align-items: center;
  }
  #nav-fa-bars {
    margin-right: 0;
  }
}

.active {
  color: var(--nav-link-color);
}

.dark-nav {
  justify-self: flex-end;
  align-self: center;
} */
